{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username }} Profile {% endblock %}

{% block js_file %}
<script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}

{% block content %}

    {% if self_dashboard  %}
    <a class="btn btn-primary" href="{% url 'account:profile_edit' request.user.id %}">Edit Profile</a><br><br>
    <a class="btn btn-primary" href="{% url 'posts:add_post' request.user.id %}">Add post</a>
    {% endif %}

    <h3 class="text-center">{{ user.username|capfirst }}</h3><br>
    <h6 class="text-center">{{ user.email }}</h6><br>
    <p class="text-center">{{ user.profile.bio }}</p>
    <p class="text-center">{{ user.profile.age }}</p>

    {% if request.user.id != user.id and not is_following %}
    <button id="following_btn" data-id="{{ user.id }}" style="display: block;" class="btn btn-primary text-center mx-auto">Follow</button >
    {% elif request.user.id != user.id and is_following %}    
    <button id="following_btn" data-id="{{ user.id }}" style="display: block;" class="btn btn-danger text-center mx-auto">Unfollow</button >        
    {% endif %}
    

    <br/><br/><br/>
    {% for post in posts %}
        <div class="card">
            <p class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body | truncatechars:20 }}</a></p>
        </div>
    {% empty %}
        <p>This user has no posts</p>
    {% endfor %}

{% endblock %}