{% extends 'base.html' %}


{% block title %} Login {% endblock %}

{% block content %}

    <!-- {{ form.non_field_errors }} ارور هایی که ربطی به فیلدهامون نداره. مثلا یوزر شما اشتباه است
    {{ form.subject.error }} ارورهایی که مربوط به هر فیلد است
    {{ form.subject.id_for_label }} نمایش لیبل فیلد مدنظر -->



    <form method="post" novalidate>
        {% csrf_token %}
        <div class="col-md-3">
            <div class="username">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <p>
                    {{ form.username }}
                </p>
                {{ form.username.errors }}
            </div>
            <div class="password">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <p>
                    {{ form.password }}
                </p>
                {{ form.password.errors }}
            </div>
            <input type="submit" class="btn btn-primary" value="send">
        </div>
        
    </form>


{% endblock %}