{% extends 'base.html' %}

{% block title %} {{ post.slug | truncatechars:20 }} {% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <p class="">
                {{ post.user }} | {{ post.created | date:"j/n/Y, H:i" }}
            </p>
            {% if request.user.is_authenticated and request.user.id == post.user.id %}
            <a href="{% url 'posts:edit_post' post.user.id post.id %}" class="btn btn-primary">
                Edit
            </a>
            <a href="{% url 'posts:delete_post' post.user.id post.id %}" class="btn btn-danger">
                Delete
            </a>
            {% endif %}
        
            <p class="card-body">
                {{ post.body }}
            </p><br><br>
            {% with like=post.like_count %}
            <p>
                like{{ like|pluralize }}: {{ like }}
            </p>
            {% endwith %}
            <a href="{% url 'posts:post_like' post.id %}" class="btn btn-primary col-md-2">Like</a>
            <br><br><br><hr><hr>
            {% with total=comments.count %}
            <h4>
                Comments | <small>this post has {{ total }} comment{{ total|pluralize }}</small>
            </h4>
            {% endwith %}
            <br><br>
            
            {% if user.is_authenticated %}
            <form method="post" novalidate class="col-md-6">
                {% csrf_token %}

                {{  form.as_p }}
                <input type="submit" class="btn btn-primary" value="Send">
            </form>
            {% else %}
            <p>
                only logged in users can send comments
            </p>
            {% endif %}

            <br><br><hr>

            <div class="card bg-dark text-white">
                {% for comment in comments %}
                <p class="card-header">
                    {{ comment.user }} | {{ comment.created | date:"j/n/Y, H:i" }}
                </p>
                <p class="card-body">
                    {{ comment.body }}
                </p>
                {% if request.user.is_authenticated %}
                <form action="{% url 'posts:reply_comment' post.id comment.id %}" method="post" class="col-md-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Send">
                </form>
                {% else %}
                <p>
                    you have to loggin to send reply comment
                </p>
                {% endif %}
                {% for reply in comment.rcomment.all %}
                    <p class="bg-primary text-white p-3 m-3 col-md-3">
                        <small>
                            {{ reply.user }} | {{ reply.created | date:"j/n/Y, H:i" }}
                        </small><br>
                        {{ reply.body }}
                    </p>
                {% endfor %}
                <hr>
                {% empty %}
                <p>
                    no Comments
                </p>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}